body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
  -webkit-print-color-adjust: exact;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Slab', serif;
}

.page {
  page-break-after: always;
}

.page.odd {
  padding-left: 4rem;
  padding-right: 1rem;
}

.page.even {
  padding-right: 4rem;
  padding-left: 1rem;
}

.page.odd .info {
  align-items: flex-end;
}

.page.odd .info .info__items {
  flex-direction: row-reverse;
}

table.calendar {
  height: 100%;
  border-collapse: collapse;
  border-bottom: 1px solid rgba(0, 0, 0, 0.8);
  border-top: 1px solid rgba(0, 0, 0, 0.8);
}

table.calendar tr td {
  border-left: 1px solid rgba(0, 0, 0, 0.8);
  border-right: 1px solid rgba(0, 0, 0, 0.8);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}